.content {
    display: block;
    background-color: white;
    color: black;
    z-index: 999;
    width: 75%;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background: #102B3F;
    box-shadow: inset 5px 5px 11px #061119,
            inset -5px -5px 11px #1a4565;
}

.content-input-box {
    height: 50px;
}

.content-input-box input {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    box-shadow: none;
    color: #ffffff;
    margin: 0;
    text-align: start;
    border: none;
    padding-left: 35px;
    font-size: 20px;
    background: #102B3F;
    box-shadow: inset 5px 5px 11px #061119,
            inset -5px -5px 11px #1a4565;
}

.content-input-box input:hover {
    border: none;
}

.content-input-box input::placeholder{
    color: #ffffff;
}

.dropdown-list {
    display: block;
    margin: 10px 0 0 0;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
}

.dropdown-list::-webkit-scrollbar {
    width: 10px;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: #0c1f2e;
    border-radius: 20px;
}