.dropdown-box {
    width: 75%;
}


.dropdown-box input {
    height: 45px;
    background-color: #ffffff;
    box-shadow: none;
    border: none;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: start;
    padding-left: 35px;
    font-size: 20px;
    border-radius: 40px;
    background: #102B3F;
    box-shadow: inset 5px 5px 11px #061119,
            inset -5px -5px 11px #1a4565;
}

.input-box input {
    position: absolute;
}

.input-box input::placeholder{
    color: #ffffff;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    margin-right: 40px;
    scale: 2;
    z-index: 9;
    cursor: pointer;
}