.create-button {
    width: 70%;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 118px;
    background: linear-gradient(145deg, #112e43, #0e2739);
    box-shadow:  5px 5px 10px #081620,
                 -5px -5px 10px #18405e;
    transition: 0.3s;
}

.create-button:active {
    background: #102B3F;
    box-shadow: inset 5px 5px 10px #0a1c28,
                inset -5px -5px 10px #163a56;
}