
.main-box {
    width: 1000px;
    height: fit-content;
    display: flex;
    padding: 15px;
    color: #ffffff;
}

.main-box section {
    width: 50%;
    min-height: 300px;
    border-radius: 48px;
    background: #102b3f;
    box-shadow:  7px 7px 18px #091823,
                 -7px -7px 18px #173e5b;
    padding: 20px;
    margin: 30px;
    float: left;
    transition: 0.3s;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-box {
    width: 90%;
    justify-self: end;
}

.clock-search {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clock-box {
    max-height: 80vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll {
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #0c1f2e;
    border-radius: 20px;
}

.no-clocks {
    position: relative;
    font-size: 50px;
    color: rgb(50, 75, 95);
    font-weight: bold;
    margin-top: 16vh;
}
